## BEMM458 Final Assignment

## You are a data scientist working for the European Union. There is an increasing concern inn  relation to the spread and amplification of misinformation on social media.

## General management needs you to conduct an analysis of recent conversations posted on Twitter in relation to spain. You have to identify ongoing misinformation campaigns and profile those users contributing to the spread of misinformation.

In [12]:
import pandas as pd
import numpy as np

In [13]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [14]:
pd.set_option('display.max_rows', 120)

In [15]:
pd.set_option('display.float_format', '{:.0f}'.format)

In [16]:
spainEnglishAll=pd.read_csv('BEMM458FinalAssignment.csv')

In [17]:
spainEnglishAll.columns

Index(['Unnamed: 0', 'tweeet.id', 'tweet.text', 'tweet.created_at',
       'tweet.author_id', 'tweet.lang', 'public_metrics.retweet_count',
       'public_metrics.reply_count', 'public_metrics.like_count'],
      dtype='object')

In [18]:
spainEnglishAll

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count
0,0,1461484086892146692,RT @ESPNFC: EURO 2008 top scorer: Villa ⚽️\nWo...,2021-11-18 23:58:54+00:00,3239744421,en,1568,0,0
1,1,1461484079245840390,RT @MrGeepGeep: SOE is over and now is the tim...,2021-11-18 23:58:52+00:00,2312771653,en,38,0,0
2,2,1461484043187462149,"RT @AnittaCrave: ""Envolver"" — by Anitta will d...",2021-11-18 23:58:43+00:00,1296857652677550080,en,90,0,0
3,3,1461483982105763842,"Men jewelry - Madrid, Spain \n@GuilleRBRB htt...",2021-11-18 23:58:29+00:00,1071703322166480768,en,0,0,5
4,4,1461483978658127872,"RT @Foreign_Cat: #Turkey &amp; #Spain, partner...",2021-11-18 23:58:28+00:00,1142741725225652224,en,34,0,0
...,...,...,...,...,...,...,...,...,...
47545,47545,1461484434209783814,@only1womble @SimonJonesNews @pritipatel Someo...,2021-11-19 00:00:16+00:00,1733373504,en,0,0,0
47546,47546,1461484401712414722,RT @ancientorigins: A team of #scientists has ...,2021-11-19 00:00:09+00:00,100887413,en,18,0,0
47547,47547,1461484391255977994,On #Friday Amazing time in #SabatiniGardens #M...,2021-11-19 00:00:06+00:00,995441471938580352,en,0,0,1
47548,47548,1461484374558490625,RT @THEMAXHILTON: The wait is over ! you have...,2021-11-19 00:00:02+00:00,832015137263452160,en,121,0,0
47549,47549,1461484366325035009,#Barcelona Nov 19 01:00 Temperature 10C Wind N...,2021-11-19 00:00:00+00:00,258025521,en,0,0,0

## Question 1. Which twitter conversations have large levels of amplification ? (15 points)
### Tip: consider number of retweets, likes, etc as proxies to measure the spread of information on social media

In [19]:
spainEnglishAll.sort_values(by='public_metrics.retweet_count',ascending=False).head()

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count
23467,23467,1461162679809155076,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-18 02:41:44+00:00,1290910527393210368,en,44845,0,0
23656,23656,1461157780664901633,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-18 02:22:16+00:00,1101831422631804800,en,43945,0,0
8820,8820,1461371211343020033,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-18 16:30:22+00:00,1168957082,en,43945,0,0
39357,39357,1461649200882405377,RT @NCTsmtown_127: Spain here we goooooo\n\n#N...,2021-11-19 10:55:00+00:00,1064006291087970432,en,35930,0,0
45373,45373,1461537918900600843,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-19 03:32:48+00:00,1382234880465989632,en,34538,0,0

In [25]:
chongfuFilter=spainEnglishAll['tweet.text'].str.contains('RT @')

In [26]:
abc=spainEnglishAll[chongfuFilter]

In [27]:
abc

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count
0,0,1461484086892146692,RT @ESPNFC: EURO 2008 top scorer: Villa ⚽️\nWo...,2021-11-18 23:58:54+00:00,3239744421,en,1568,0,0
1,1,1461484079245840390,RT @MrGeepGeep: SOE is over and now is the tim...,2021-11-18 23:58:52+00:00,2312771653,en,38,0,0
2,2,1461484043187462149,"RT @AnittaCrave: ""Envolver"" — by Anitta will d...",2021-11-18 23:58:43+00:00,1296857652677550080,en,90,0,0
4,4,1461483978658127872,"RT @Foreign_Cat: #Turkey &amp; #Spain, partner...",2021-11-18 23:58:28+00:00,1142741725225652224,en,34,0,0
7,7,1461483906473988100,RT @KeithOlbermann: THE KIDS ARE ALLERGIC? SO ...,2021-11-18 23:58:11+00:00,1121666434893893632,en,112,0,0
...,...,...,...,...,...,...,...,...,...
47538,47538,1461484552518397954,"RT @BintingM: Madrid, Spain 🇪🇸 ...",2021-11-19 00:00:45+00:00,920225083,en,861,0,0
47539,47539,1461484522189508628,RT @MLMIF: 🇪🇸 After a month of limitless learn...,2021-11-19 00:00:37+00:00,555473699,en,23,0,0
47543,47543,1461484468514996233,RT @ESPNFC: EURO 2008 top scorer: Villa ⚽️\nWo...,2021-11-19 00:00:25+00:00,589591737,en,1568,0,0
47546,47546,1461484401712414722,RT @ancientorigins: A team of #scientists has ...,2021-11-19 00:00:09+00:00,100887413,en,18,0,0
47548,47548,1461484374558490625,RT @THEMAXHILTON: The wait is over ! you have...,2021-11-19 00:00:02+00:00,832015137263452160,en,121,0,0

In [21]:
spainEnglishAll['tweet.text'].drop_duplicates()

0        RT @ESPNFC: EURO 2008 top scorer: Villa ⚽️\nWo...
1        RT @MrGeepGeep: SOE is over and now is the tim...
2        RT @AnittaCrave: "Envolver" — by Anitta will d...
3        Men jewelry  - Madrid, Spain \n@GuilleRBRB htt...
4        RT @Foreign_Cat: #Turkey &amp; #Spain, partner...
                               ...
47542    i'm in spain without the s rn my back hurts so...
47544    @Lisaelghaffour @TomasZdechovsky There are tho...
47545    @only1womble @SimonJonesNews @pritipatel Someo...
47547    On #Friday Amazing time in #SabatiniGardens #M...
47549    #Barcelona Nov 19 01:00 Temperature 10C Wind N...
Name: tweet.text, Length: 22785, dtype: object

In [28]:
result=pd.merge(spainEnglishAll,abc,how='left',indicator=True).query("_merge=='left_only'").drop('_merge',1)

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [29]:
result

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count
3,3,1461483982105763842,"Men jewelry - Madrid, Spain \n@GuilleRBRB htt...",2021-11-18 23:58:29+00:00,1071703322166480768,en,0,0,5
5,5,1461483963042705416,"Just posted a photo @ Riells Del Fay, Cataluna...",2021-11-18 23:58:24+00:00,72269408,en,0,0,0
6,6,1461483923297697794,Spain castle Coca \nI feel we're so close to g...,2021-11-18 23:58:15+00:00,1422631251886842112,en,0,1,2
11,11,1461483872051421193,@walkin90pod First soccer game: US/England 6/9...,2021-11-18 23:58:02+00:00,121574086,en,1,0,1
12,12,1461483865609228289,France and Spain is later revealed to be Italy...,2021-11-18 23:58:01+00:00,1254204482,en,0,0,0
...,...,...,...,...,...,...,...,...,...
47542,47542,1461484495547293704,i'm in spain without the s rn my back hurts so...,2021-11-19 00:00:31+00:00,990020917358194816,en,0,1,1
47544,47544,1461484460009041920,@Lisaelghaffour @TomasZdechovsky There are tho...,2021-11-19 00:00:22+00:00,1091374457027989632,en,0,0,0
47545,47545,1461484434209783814,@only1womble @SimonJonesNews @pritipatel Someo...,2021-11-19 00:00:16+00:00,1733373504,en,0,0,0
47547,47547,1461484391255977994,On #Friday Amazing time in #SabatiniGardens #M...,2021-11-19 00:00:06+00:00,995441471938580352,en,0,0,1
47549,47549,1461484366325035009,#Barcelona Nov 19 01:00 Temperature 10C Wind N...,2021-11-19 00:00:00+00:00,258025521,en,0,0,0

In [30]:
result.sort_values(by='public_metrics.retweet_count',ascending=False).head()

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count
2434,2434,1461450207657349131,EURO 2008 top scorer: Villa ⚽️\nWorld Cup 2010...,2021-11-18 21:44:16+00:00,18091004,en,1568,740,15423
32805,32805,1461735560435752961,"""What if Lionel Messi picked Spain over Argent...",2021-11-19 16:38:09+00:00,1443958261917511680,en,895,138,12216
11708,11708,1461338150610083843,"Madrid, Spain 🇪🇸 #NaturePhotogr...",2021-11-18 14:19:00+00:00,1383404685189545984,en,861,61,4240
15636,15636,1461295289608945670,"In the last 20 years Spain has built 1,900 mil...",2021-11-18 11:28:41+00:00,1662773784,en,658,57,2362
11438,11438,1461341020264742912,Another day of sky high electricity prices in ...,2021-11-18 14:30:24+00:00,1647573157,en,480,76,1011

In [22]:
spainEnglishAll.sort_values(by='public_metrics.reply_count',ascending=False).head()

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count
2434,2434,1461450207657349131,EURO 2008 top scorer: Villa ⚽️\nWorld Cup 2010...,2021-11-18 21:44:16+00:00,18091004,en,1568,740,15423
27778,27778,1461806775594885122,From Spain: Manchester United are ready to bid...,2021-11-19 21:21:09+00:00,2430359540,en,379,512,6058
34485,34485,1461715384516714501,🚨⚽️ | Fifa have released their new rankings\n\...,2021-11-19 15:17:59+00:00,1412833835776086016,en,93,215,3358
32805,32805,1461735560435752961,"""What if Lionel Messi picked Spain over Argent...",2021-11-19 16:38:09+00:00,1443958261917511680,en,895,138,12216
33984,33984,1461721107619270660,People who live in mainland Europe - how much ...,2021-11-19 15:40:44+00:00,1091026425212293248,en,24,125,207

In [10]:
spainEnglishAll.sort_values(by='public_metrics.like_count',ascending=False).head()

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count
2434,2434,1461450207657349131,EURO 2008 top scorer: Villa ⚽️\nWorld Cup 2010...,2021-11-18 21:44:16+00:00,18091004,en,1568,740,15423
32805,32805,1461735560435752961,"""What if Lionel Messi picked Spain over Argent...",2021-11-19 16:38:09+00:00,1443958261917511680,en,895,138,12216
27778,27778,1461806775594885122,From Spain: Manchester United are ready to bid...,2021-11-19 21:21:09+00:00,2430359540,en,379,512,6058
37178,37178,1461679405755944968,I wanted to go to LFL next year but as many of...,2021-11-19 12:55:01+00:00,375634909,en,116,79,4632
11708,11708,1461338150610083843,"Madrid, Spain 🇪🇸 #NaturePhotogr...",2021-11-18 14:19:00+00:00,1383404685189545984,en,861,61,4240

## Question 2. Analysis of highly amplified conversations (15 points)

### Please describe  5 highly amplified conversations which are trying to polarize or misinform.

## Tip: given a tweet.id it is possible to have a detailed look at twitter by appending this id to the url: https://twitter.com/anyuser/status/


### For instance given the tweet.id: 1461577564850319362 you can inspect its content by having a look at: https://twitter.com/anyuser/status/1461577564850319362

## Question 3. Compute the z-score of the column "public_metrics.retweet_count" (15 points)
## tip: refer to the definition of Z-score at" https://www.statisticshowto.com/probability-and-statistics/z-score/

## Question 4. Filter conversations with a z-score larger than 10. (15 points)

## Question 5. Find the top 5 amplifiers (15 points)
### we consider amplifiers those twitter users who are involved in highly amplified conversations

## Question 6. Extract, from the text colum, information on who created the conversation in the first place (15 points)
### Tip: retweeted conversations start with the pattern RT@
### For illustration purposes, the text "RT @20splentyforus: France, like UK should set a national 30km/h or 20mph urban default limit." was originally created by @20splentyforus
### Tip2. consider applying a regex pattern to the DataFrame using apply method

## Question 7. Please briefly reflect on how would you try to mitigate misinformation on social media (2 paragraphs maximum). (10 points)